# URL handling
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.* index.php [L,QSA]

# Error handling
ErrorDocument 404 /404
ErrorDocument 403 /403
ErrorDocument 500 /500

# File security
<FilesMatch "\.(json|sarif|md|gitignore|version|LICENSE|htaccess|env)$">
Order allow,deny
Deny from all
</FilesMatch>