body {
    text-align: center !important;
}

.global-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40vw;
    min-width: 400px;
    max-width: 550px;
}

.main-form>.checkbox {
    font-weight: 400;
}

.main-form>.form-floating:focus-within {
    z-index: 2;
}

.page-title-container {
    display: inline-flex;
    align-items: center;
}

.form-icon {
    width: 80px !important;
    padding-right: 8px;
    padding-bottom: 15px;
    --fa-animation-duration: 2.5s
}

.form-control {
    margin-bottom: 10px;
}

#form_input>.form-input-item:last-child {
    margin-bottom: none;
}

.input-container {
    padding-bottom: 20px;
}

.input-container>label {
    float: left;
    padding-bottom: 10px;
}

.size-max {
    width: 100%;
    height: 100px;
}

.size-single {
    width: 100%;
    height: 43px;
}

.button-50 {
    width: 50%;
}

.button-100 {
    width: 100%;
}

.buttons-inline {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    padding-bottom: 5px;
}

/* Media Queries */
@media screen and (max-width: 1300px) {
    .global-container {
        width: 500px;
    }
}

@media screen and (max-width: 750px) {
    .global-container {
        padding: 30px;
        width: 100% !important;
        max-width: 100vw !important;
    }
}