.snackbar-error {
	background-color: rgba(250, 76, 76, 0.479);
	outline: rgb(206, 77, 77) 1px solid;
}

.snackbar-success {
	background-color: rgba(76, 250, 76, 0.479);
	outline: rgb(77, 206, 77) 1px solid;
}

.snackbar-warn {
	background-color: rgba(250, 250, 76, 0.479);
	outline: rgb(206, 206, 77) 1px solid;
}

.snackbar-container {
	margin-left: auto;
	margin-right: auto;
	padding: 10px 15px 10px 15px !important;
	text-align: center;
	max-width: fit-content;
}

.snackbar-messages {
	display: none;
}

#snackbar_link.show,
#snackbar_password.show,
#snackbar_empty_fields.show,
#snackbar_error.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}