/* Padding Left */
.pl-1 {
    padding-left: 1px;
}

.pl-2 {
    padding-left: 2px;
}

.pl-3 {
    padding-left: 3px;
}

.pl-4 {
    padding-left: 4px;
}

.pl-5 {
    padding-left: 5px;
}

/* Padding Right */
.pr-1 {
    padding-right: 1px;
}

.pr-2 {
    padding-right: 2px;
}

.pr-3 {
    padding-right: 3px;
}

.pr-4 {
    padding-right: 4px;
}

.pr-5 {
    padding-right: 5px;
}

/* Padding Top */
.pt-1 {
    padding-top: 1px;
}

.pt-2 {
    padding-top: 2px;
}

.pt-3 {
    padding-top: 3px;
}

.pt-4 {
    padding-top: 4px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-6 {
    padding-top: 6px;
}

.pt-7 {
    padding-top: 7px;
}

.pt-8 {
    padding-top: 8px;
}

.pt-9 {
    padding-top: 9px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

/* Padding Bottom */
.pb-1{
    padding-bottom: 1px;
}

.pb-2 {
    padding-bottom: 2px;
}

.pb-3 {
    padding-bottom: 3px;
}

.pb-4 {
    padding-bottom: 4px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-6 {
    padding-bottom: 6px;
}

.pb-7 {
    padding-bottom: 7px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pb-9 {
    padding-bottom: 9px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

/* Margin Top */
.mt-1 {
    margin-top: 1px;
}

.mt-2 {
    margin-top: 2px;
}

.mt-3 {
    margin-top: 3px;
}

.mt-4 {
    margin-top: 4px;
}

.mt-5 {
    margin-top: 5px;
}

/* Margin Bottom */
.mb-1 {
    margin-bottom: 1px;
}

.mb-2 {
    margin-bottom: 2px;
}

.mb-3 {
    margin-bottom: 3px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-5 {
    margin-bottom: 5px;
}

/* Margin Left */
.ml-1 {
    margin-left: 1px;
}

.ml-2 {
    margin-left: 2px;
}

.ml-3 {
    margin-left: 3px;
}

.ml-4 {
    margin-left: 4px;
}

.ml-5 {
    margin-left: 5px;
}

/* Margin Right */
.mr-1 {
    margin-right: 1px;
}

.mr-2 {
    margin-right: 2px;
}

.mr-3 {
    margin-right: 3px;
}

.mr-4 {
    margin-right: 4px;
}

.mr-5 {
    margin-right: 5px;
}